#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid-display {
  gap: 1.25rem;
  display: grid;
  margin: 3rem auto;
  grid-template-columns: repeat(5, auto);
  border-radius: 25px;
  background: rgb(146, 132, 132);
}

.grid-letters {
  gap: 1.25rem;
  display: grid;
  margin: 3rem auto;
  grid-template-columns: repeat(5, auto);
  border-radius: 25px;
  background: gray;
}

.grid-letters p {
  font-size: 50px;
}

.grid-verbs {
  gap: 1.25rem;
  display: grid;
  margin: 3rem auto;
  grid-template-columns: repeat(8, auto);
  border-radius: 25px;
  background: gray;
}

.word-font {
  font-size: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}