#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper {
  gap: 1.25rem;
  display: flexbox;
  margin: 3rem auto;
  border-radius: 25px;
  background: var(--backgroundgreen);
}

.grid-display {
  gap: 1.25rem;
  display: grid;
  margin: 3rem auto;
  grid-template-columns: repeat(10, auto);
  border-radius: 25px;
  background: var(--divgray);
}

.grid-display p {
  font-size: 50px;
}

.grid-letters {
  gap: 1.25rem;
  column-gap: .75rem;
  row-gap: 0rem;
  display: grid;
  margin: 1rem auto;
  grid-template-columns: repeat(5, auto);
  border-radius: 25px;
  background: var(--divgray);
}

.grid-letters button {
  font-size: 30px;
  background-color: hsl(0, 0%, 84%);
  color: black;
}

.grid-verbs {
  gap: 1.25rem;
  display: grid;
  margin: 3rem auto;
  grid-template-columns: repeat(4, auto);
  border-radius: 25px;
  background: var(--divgray);
}

.grid-verbs button {
  font-size: 30px;
  background-color: hsl(0, 0%, 84%);
  color: black;
}

.light-font {
  color: var(--lightfont);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}